USE [master]
GO
/****** Object:  Database [FlashCardDb]    Script Date: 11/2/2022 10:23:21 PM ******/
CREATE DATABASE [FlashCardDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlashCardDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NEW2019\MSSQL\DATA\FlashCardDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlashCardDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NEW2019\MSSQL\DATA\FlashCardDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlashCardDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlashCardDb]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 11/2/2022 10:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardFront] [nvarchar](150) NOT NULL,
	[CardBack] [nvarchar](150) NOT NULL,
	[StackId] [int] NOT NULL,
 CONSTRAINT [PK_Cards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardStacks]    Script Date: 11/2/2022 10:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardStacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardStackName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Stacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_card_stack_name] UNIQUE NONCLUSTERED 
(
	[CardStackName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 11/2/2022 10:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionTime] [datetime] NOT NULL,
	[NumberCorrect] [int] NOT NULL,
	[NumberTotal] [int] NOT NULL,
	[Stack] [nvarchar](20) NOT NULL,
	[SessionStackId] [int] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_Cards_Stacks] FOREIGN KEY([StackId])
REFERENCES [dbo].[CardStacks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_Cards_Stacks]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_CardStackSessionStack] FOREIGN KEY([SessionStackId])
REFERENCES [dbo].[CardStacks] ([Id])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_CardStackSessionStack]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [fk_CardStacksSessions] FOREIGN KEY([SessionStackId])
REFERENCES [dbo].[CardStacks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [fk_CardStacksSessions]
GO
USE [master]
GO
